In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'G:\Traning\Data/UMTMVS.csv')

In [4]:
df.head()

         DATE    UMTMVS
0  1992-01-01  209438.0
1  1992-02-01  232679.0
2  1992-03-01  249673.0
3  1992-04-01  239666.0
4  1992-05-01  243231.0

In [5]:
df = df.set_index('DATE')

In [6]:
df.head()

              UMTMVS
DATE
1992-01-01  209438.0
1992-02-01  232679.0
1992-03-01  249673.0
1992-04-01  239666.0
1992-05-01  243231.0

In [7]:
df.resample('Y').mean().plot.bar(figzise=(15,8))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'