In [1]:
# Datetime

In [2]:
from datetime import datetime

In [3]:
my_year = 2007
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2007, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2007, 1, 2, 13, 30, 15)

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

In [11]:
import numpy as np

In [12]:
np.array(['2016-03-15','2017-05-24','2018-08-09'], dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [13]:
np.array(['2016-03-15','2017-05-24','2018-08-09'], dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [14]:
np.array(['2016-03-15','2017-05-24','2018-08-09'], dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

In [15]:
import pandas as pd

In [16]:
df1_d = pd.date_range('7/8/2018',periods=7,freq='D')

In [17]:
df1_d

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [18]:
some_dates = np.array(['2016-03-15','2017-05-24','2018-08-09'], dtype='datetime64[D]')

In [19]:
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [20]:
idx = pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [24]:
df.set_index('Date',inplace=True)

NameError: name 'df' is not defined

In [25]:
data = np.random.rand(3,2)

In [26]:
data

array([[0.45901561, 0.29416522],
       [0.24584957, 0.51017073],
       [0.81005196, 0.55097808]])

In [27]:
cols = ['A','B']

In [29]:
df = pd.DataFrame(data,idx,cols)
df

                   A         B
2016-03-15  0.459016  0.294165
2017-05-24  0.245850  0.510171
2018-08-09  0.810052  0.550978

In [30]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [31]:
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [32]:
df.index.argmax()

2

In [34]:
df.index.min()

Timestamp('2016-03-15 00:00:00')

In [35]:
df.index.argmin()

0